@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.game__letter-choice {
  @include main-font(1.5rem);

  cursor: pointer;
  color: white;
  border: none;
  background: transparent;
  transition: all 0.3s linear;
}

.game__letter-choice--uncorrect-letter {
  color: $disabled-clr;
}
