@font-face {
  font-family: 'fredericka_the_greatregular';
  src:
    url('../src/assets/fonts/frederickathegreat-regular-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/frederickathegreat-regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
