@use './variables' as *;

@mixin flex($direction: column, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin main-font($font-size: 1rem) {
  font-family: $font-name, $font-serif;
  font-weight: regular;
  font-size: $font-size;
}

@mixin wrapper {
  position: absolute;

  img {
    position: absolute;
  }
}
