/* colors */

$tip-clr: hsl(30, 80%, 51%);
$correct-clr: hsl(101, 58%, 44%);
$incorrect-clr: hsl(0, 58%, 44%);
$white: hsl(0, 100%, 100%);
$transparent-dark-clr: hsl(0, 0%, 5%, 94%);
$disabled-clr: hsl(0, 0%, 48%);
$main-game-bg: radial-gradient(hsl(0, 0%, 8%) 0%, hsl(0, 0%, 9%) 100%);

/* fonts */
$font-name: 'fredericka_the_greatregular';
$font-serif: 'sans-serif';

/* breakpoints */
$desktop: 67.5rem;
