@use '../abstracts/variables' as *;

.game__gallows {
  $gallow-size: 22rem;

  height: $gallow-size;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

@media screen and (min-width: $desktop) {
  .game__gallows {
    flex: 0.5;
  }
}
